li = 0
each article, slug in public.articles._data
  if (li < articles_home)
    - li = li + 1
    article.content
      section.main
        span.date= article.date
        != partial("/articles/" + slug, article)

li2 = 0
each aside, slug in public.asides._data
  if (li2 < log_home)
    - li2 = li2 + 1
    ul.links
      a(href="#{ aside.url }")
        span= aside.date
        h2= aside.title
        p= aside.description