!!!xml
rss(version='2.0')
  channel
    title #{ title }
    link #{ site_url }/
    each article, slug in public.article._data
      item
        title #{ article.title }
        link #{ site_url }/article/#{ slug }
        description <![CDATA[!{ partial("article/" + slug) }]]>
