ul
  li(class="#{ current.source == 'index' ? 'active' : '' }")
    a(href='/') home
  li(class="#{ current.source == 'archive' ? 'active' : '' }")
    a(href='/archive') archive
  li(class="#{ current.source == 'log' ? 'active' : '' }")
    a(href='/log') log
  li(class="#{ current.source == 'projects' ? 'active' : '' }")
    a(href='/projects') projects
  li(class="#{ current.source == 'about' ? 'active' : '' }")
    a(href='/about') about